<!doctype html>
<html lang="en">
<head>
    <title>todo list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    
    <div class = "container">
    

        
        <div class='row'>
            <div class='col-md-12'>
            <h1>Todo App</h1>
            </div>
        </div>
    </div>


    <div class="container">
        <div class='row'>
            <div class='col-md-10'>
                            <div class='row'>
                    <div class='col-md-10'>
                        <form method = "POST">
                        {% csrf_token %}
                            <input  type="text" id="name" name="name">
                            <input  type="text" id="priority" name="priority">
                            <input type="submit">
                        <form>
                    </div>
                </div>
                <br>
            <table class="table">
            <thead class="thead-dark">
                <tr>
                {% comment %} <th scope="col">TASK ID</th> {% endcomment %}
                <th scope="col">NAME</th>
                <th scope="col">PRIORITY</th>
                <th scope="col">ACTION</th>
                </tr>
            </thead>
            <tbody>

            {% for task in task %}
                <tr>
                {% comment %} <th scope="row">{{task.id}}</th> {% endcomment %}
                <td>{{task.name}}</td>
                <td>{{task.priority}}</td>
                <td><a class = "btn btn-primary" href="delete/{{task.id}}">Done</a></td>
                </tr>
            {% endfor %}
               
            </tbody>
            </table>

           
            </div>
        </div>
    </div>
</body>
</html>